﻿@model Restaurent.Models.Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reserved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacoty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacoty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Res_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Res_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
