﻿@model IEnumerable<Restaurent.Models.Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reserved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacoty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Res_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reserved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacoty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.Res_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
