﻿@model Restaurent.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.R_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RD_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RD_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RD_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RD_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
